#articulos{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
#articulos h3,h4{
    text-align: center;
}
#articulos .contenedor article{
    max-width: 250px;
    margin: 15px;
    text-align: center;
    /*overflow: hidden; es para que imagen respete max-widht, lo que excede se oculta*/
}

#articulos .contenedor{
    margin: auto;
    display: flex; /*ajusta imagen a tamaño ventana, sin el flex wrap no sirve*/
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
#articulos img{
    max-width: 280px;
    height: 200px;
    /*object-fit: contain; sirve para ajustar objeto*/
}